body {
	background: #ffffff;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	margin: 0px;
}

div {
	text-align: center;
}

input.button {
	background: #aaaaaa;
	margin: 2% auto;
	min-height: 200px;
	min-width: 200px;
	border: 0px;
	padding: 0px;
	display: block;
}

input.button:hover {
	background: #aaaaff;
}

input.button:active {
	background: #6666ff;
}

#gps-status {
	height: 50px;
	background: red;
}