body {
	background: #ffffff;
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	margin: 0px;
	min-height: 800px;
}

#header {
	background: #f86300;
	min-height: 100px;
	margin: 0px;
}

#table-container {
	display: block;
	margin: 1% 30%;
	text-align: center;
}

#popup {
	background: #bbbbbb;
	margin: 0% 0%;
	text-align: middle;
}

#map {
	height: 400px;
	width: auto;
	margin: 2%;
}

#available {
	background: yellow;
	height: 25px;
	width: 25px;
	margin: auto;
	margin-bottom: 5px
}

p {
	margin: 0px;
}

table {
	display: block;
	border-collapse: collapse;
}

th {
	background: white;
	border: 2px solid black;
	min-height: 50px;
	min-width: 50px;
	padding: 0px;
}

input.button {
	background: #aaaaaa;
	margin: 0px;
	min-height: 50px;
	min-width: 50px;
	border: 0px;
	padding: 0px;
	display: block;
}

input.button:hover {
	background: #f86300;
}

input.button:active {
	background: black;
}


input.reserved {
	background: #333333;
}

input.reserved:hover {
	background: #f86300;
}

input.reserved:active {
	background: red;
}


footer {
	background: black;

	height: 40px;
}

