body {
	background: #ffffff;
	font-size: 15px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

#header {
	background: #f86300;
	min-height: 100px
}

#table-container {
	display: block;
	margin: 1% 25%;
	text-align: center;
}

#popup {
	background: #bbbbbb;
	display: block;
	margin: 0% 25%;
	text-align: left;
}

table {
	display: block;
	border-collapse: collapse;
}

th {
	background: white;
	border: 2px solid black;
	min-height: 50px;
	min-width: 50px;
	padding: 0px;
}

input.button {
	background: #aaaaaa;
	margin: 0px;
	min-height: 50px;
	min-width: 50px;
	border: 0px;
	padding: 0px;
	display: block;
}

input.button:hover {
	background: red;
}

input.button:active {
	background: green;
}
